@import "typo.css";
@import "images.css";
@import "buttons.css";

* {
  margin: 0;
  box-sizing: border-box;
}

:root {
  --clr-primary: #0d0d0d;
  --clr-secondary: #8979f2;

  --text-clr: #f2f2f2;
  --text-clr2: #fff;

  --mobile-fs-h1: 2.625rem;
  --mobile-fs-h2: 1.25rem;
  --tablet-fs-h1: 56rem;
  --tablet-fs-h2: 1.625rem;
  --laptop-fs-h1: 5.375rem;
  --laptop-fs-h2: 2.5rem;

  --mobile-fs-body: 1.125rem;
  --mobile-btn-fs: 1.25rem;

  --tablet-fs-body: 1.5rem;
  --tablet-btn-fs: 1.25rem;

  --laptop-fs-body: 2.125rem;
  --laptop-btn-fs: 1.375rem;

  --laptop-fs-copy: 1.875rem;
}
body {
  font-family: "Poppins", sans-serif;
  line-height: 1.5;
}

header {
  position: relative;
  background: var(--clr-primary);
  padding: 1em;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.container,
.social {
  padding: 1em;
}

.bullets {
  display: flex;
  justify-content: space-around;
  align-items: center;
}
ul {
  text-align: left;
  padding-left: 0;
  padding-bottom: 0.5em;
}

.courses {
  color: var(--clr-primary);
  font-size: var(--mobile-fs-body);
  font-weight: 500;
  letter-spacing: 1px;
}

footer {
  background: var(--clr-primary);
  margin-top: 1em;
}

#container {
  display: flex;
  justify-content: space-around;
  flex-direction: column;
  align-items: center;
}

.social {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0 0 1em 0;
}

.links {
  display: none;
}

.nav {
  color: #fff;
  text-decoration: none;
  font-size: 1.125rem;
  padding: 0.5em;
}

.read-link {
  padding-top: 1em;
  padding-bottom: 0.5em;
}

.mark {
  width: 100%;
  margin: 1em 0 0 0;
}

.cont {
  display: flex;
  flex-direction: column;
}

li {
  list-style: none;
  padding-bottom: 0.5em;
}

.h3 {
  font-size: 1.5rem;
  margin: 0 0 0.2em 0;
}

.job {
  font-size: 1.125rem;
  margin: 0 0 0.2em 0;
}

.incorp {
  font-size: 1.3rem;
}

.bio {
  margin: 0;
}

.social-media-link {
  padding: 0 1em 0 0;
}

@media (min-width: 800px) {
  h1 {
    font-size: var(--laptop-fs-h1);
    line-height: 1em;
  }

  blockquote {
    font-size: var(--laptop-btn-fs);
    padding: 1em 0;
    letter-spacing: 1px;
  }
  .links {
    display: none;
  }

  p {
    font-size: var(--laptop-btn-fs);
    margin-bottom: 0.5em;
  }

  .courses {
    color: var(--clr-primary);
    font-size: var(--laptop-btn-fs);
    font-weight: 500;
    letter-spacing: 1px;
  }
  h3 {
    font-size: var(--laptop-fs-body);
    margin-bottom: 0.5em;
  }

  .mark {
    width: 100%;
    margin: 1em 0 0 0;
  }

  .content {
    margin: 0;
  }

  .social-links-one {
    padding: 0 1em 0 0;
    display: flex;
  }

  @media (min-width: 1200px) {
    .header {
      padding: 0 1.2em;
      height: 100px;
    }

    .menu {
      display: none;
    }

    .links {
      display: flex;
      align-items: center;
      justify-content: center;
      flex-direction: row;
    }

    h1 {
      padding-top: 0.5em;
    }

    p {
      font-size: var(--laptop-btn-fs);
      margin-bottom: 1em;
    }

    .grid {
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      gap: 0.3em;
    }

    .photo {
      width: 100%;
      height: auto;
    }

    #grid {
      display: grid;
    }

    footer {
      display: flex;
      justify-content: space-around;
      align-items: center;
    }

    #container {
      display: flex;
      justify-content: center;
      flex-direction: row;
      align-items: center;
    }

    .copyright {
      padding: 0;
      margin-left: 3em;
    }
    .mark {
      width: 20%;
      margin: 1em 0 0 0;
    }

    .cont {
      display: flex;
      flex-direction: column;
    }
  }
}
